<div style="position: relative">
  <div class="container">
    <div class="content">
      <div class="two--columns--columns list">
        <h2>Zapewniamy Ci:</h2>
        <ul>
          <li>wizjonerski projekt Twojego wnętrza</li>
          <li>dostęp do nietuzinkowych produktów</li>
          <li>wyselekcjonowane europejskie marki</li>
          <li>wsparcie software house’u</li>
          <li>marketing</li>
          <li>szkolenia</li>
          <li>kompleksową usługę w jednym miejscu</li>
          <li>foto Video i Postprodukcja</li>
          <li>social Media</li>
          <li>wsparcie i doradztwo</li>
          <li>wizerunek i PR</li>
        </ul>
        <button class="outline-white-button">
          Sprwadź niepowtarzalną ofertę
        </button>
        <img src="/assets/ui/arrow-down.png" class="scroll-down" alt="" />
      </div>
      <div class="two--columns--columns">
        <img src="/assets/we-ensure/art.png" alt="" />
      </div>
    </div>
  </div>
  <app-semi-footer></app-semi-footer>
  <!-- <app-scroll-down bottomAspectRatio="13.44"></app-scroll-down>  -->
</div>
