.container {
  width: 100vw;
  padding: 0 49px;
  background-color: black;
  padding-bottom: 51px;
}
.line {
  margin-bottom: 15px;
  height: 1px;
  background-color: #fafafa;
}
.container p {
  font-size: 15px;
  line-height: 19.04px;
}
a {
  text-decoration: none;
  color: white;
}
