<div
  style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <div class="divider">
    <hr />
  </div>
  <div class="mini--menu--1">
    <a href="">PORTFOLIO</a>
    <a href="">WSPOŁPRACA</a>
    <a href="">KONTAKT</a>
  </div>

  <div class="divider">
    <hr style="margin-bottom: 29px" />
  </div>
  <a href="" class="instagram--link">INSTAGRAM</a>
  <div
    class="mini--menu--1"
    style="width: 731px; margin-top: 33px; margin-bottom: 42px"
  >
    <a href="">PORTFOLIO</a>
    <a href="">WSPOŁPRACA</a>
    <a href="">KONTAKT</a>
  </div>
</div>
