<div
  style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <div class="divider">
    <hr />
  </div>
  <div class="mini--menu--1">
    <a routerLink="/contact">PORTFOLIO</a>
    <a routerLink="/contact">WSPOŁPRACA</a>
    <a routerLink="/contact">KONTAKT</a>
  </div>

  <div class="divider">
    <hr style="margin-bottom: 29px" />
  </div>
  <a class="instagram--link">INSTAGRAM</a>
  <div
    class="mini--menu--1"
    style="width: 731px; margin-top: 33px; margin-bottom: 42px"
  >
    <a
      href="https://instagram.com/jackbronson.pl?igshid=YmMyMTA2M2Y="
      target="blank"
      >ARCHITEKTURA WNĘTRZ</a
    >
    <a
      href="https://instagram.com/dimensione.creativa?igshid=YmMyMTA2M2Y="
      target="blank"
      >SOFTWARE HOUSE</a
    >
    <a
      href="https://instagram.com/jackbronson.pl?igshid=YmMyMTA2M2Y="
      target="blank"
      >FOTO&VIDEO</a
    >
  </div>
</div>
