<div style="position: relative">
  <div class="container">
    <div class="content">
      <div class="two--columns--columns">
        <img src="/assets/ui/logo.png" alt="" />
        <p class="italic">
          Znasz to uczucie, kiedy wyróżniasz się z tłumu i posiadasz coś czego
          nie ma nikt inny?<br /><br />
          Połączyliśmy siły i wynosimy jakość usług na zupełnie inny poziom.
        </p>
      </div>
      <div class="two--columns--columns">
        <p class="description">
          Jack Bronson to dystrybutor i selekcjoner prestiżowych europejskich
          marek wyposażenia wnętrz. Jack Bronson stworzył swój showroom, w
          którym prezentuje ciekawe, niepowtarzalne produkty, które odmienią
          oblicze każdego wnętrza.
        </p>
        <p class="description">
          Dimensione Creativa to przejście do nowego wymiaru kreatywności w
          branży IT. Stawiamy na jakość, kreatywność, zaangażowanie, brak
          kompromisów. Tworzymy oprogramowanie używając topowych technologii.
          Trafiamy w najbardziej wysublimowane gusta.
        </p>
      </div>
    </div>
  </div>
  <app-semi-footer></app-semi-footer>
  <app-scroll-down
    bottomAspectRatio="13.44"
    (click)="this.goDownEvent.emit(true)"
  ></app-scroll-down>
</div>
