.container {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 84px;
  // padding-bottom: 105px;
  scroll-snap-align: start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.content {
  max-width: 1440px;
  width: 100%;
  padding: 0 50px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 159px;
  line-height: 172.52px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.slider {
  width: 100vw;
  position: relative;
  height: 180.52px;
}
.slider p {
  font-size: 159px;
  line-height: 172.52px;
  font-style: italic;
  text-align: center;
  font-family: "Merriweather";
  text-transform: uppercase;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  position: absolute;
  top: 0;
}
// .slider p:first-of-type {
//   position: relative;
// }
.contact--button {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(255, 215, 38, 0.8);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  transform: translateY(-35%);
  margin-bottom: 40px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
.contact--button:hover {
  transform: translateY(-35%) scale(1.05);
}
@media only screen and (max-width: 681px) {
  h1 {
    font-size: 50px;
    line-height: 54px;
  }
  .slider {
    height: 32.4px;
  }
  .slider p {
    font-size: 30px;
    line-height: 32.4px;
  }
  .contact--button {
    height: 150px;
    width: 150px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    transform: translateY(-10%);
  }
  .contact--button {
    transform: translateY(-10%);
  }
  .contact--button:hover {
    transform: translateY(-10%) scale(1.05);
  }
}
