.container {
  width: 100vw;
  padding: 0 49px;
  position: absolute;
  bottom: 4.33vh;
}
.line {
  margin-bottom: 15px;
  height: 1px;
  background-color: #fafafa;
}
.container p {
  font-size: 15px;
  line-height: 19.04px;
}
