<div style="position: relative">
  <div class="container">
    <div class="content">
      <div class="two--columns--columns relative--container">
        <ul appSwipeLeft>
          <li>ARCHITEKTURA</li>
          <li>WNĘTRZE</li>
          <li>PROJEKTOWANIE</li>
          <li>FOTOGRAFIA</li>
          <li>FILMY</li>
          <li>PROGRAMOWANIE</li>
          <li>STRONY WWW</li>
        </ul>
        <img
          src="/assets/ui/arrow-down.png"
          style="cursor: pointer"
          class="scroll-down"
          alt=""
          (click)="this.goDownEvent.emit(true)"
        />
      </div>
      <div class="two--columns--columns" appSwipeRight>
        <div class="line">
          <p><strong> Architektura wnętrz</strong></p>
          <p style="font-weight: 400; font-style: italic">Kreacja</p>
          <p style="font-weight: 500">Marketing</p>
        </div>
        <div class="line" style="justify-content: space-around">
          <p>Filmy reklamowe</p>
          <p style="font-weight: 600">oprogramowanie</p>
        </div>
        <div class="line">
          <p><strong> Sesje biznesowe</strong></p>
          <p style="font-weight: 500; font-style: italic">
            Identyfikacja wizualna
          </p>
        </div>
        <div class="line">
          <p style="font-weight: 400">PROJEKTOWANIE WNĘTRZ</p>
          <p style="font-weight: 400; font-style: italic">Social media</p>
        </div>
        <div class="line">
          <p><strong> Strony produktowe i wizerunkowe</strong></p>
        </div>
        <div class="line">
          <p style="font-weight: 500; font-style: italic">Wizualizacje 3D</p>
          <p><strong> Materiały reklamowe</strong></p>
        </div>
        <div class="line">
          <p style="font-weight: 500; font-style: italic">
            Platformy i sklepu sprzedazowe
          </p>
        </div>
      </div>
    </div>

    <button class="yellow--button">ZBADAJMY POTRZEBY</button>
  </div>

  <app-semi-footer></app-semi-footer>
</div>
